
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div align="center" class="alert-danger">
    <h4>@ViewBag.Message</h4>
</div>

@if (ViewBag.Captcha != null)
{
    <div align="center" class="alert-warning">
        @ViewBag.Captcha
    </div>
}

@if (ViewBag.SendMessage != null)
{
    <div align="center" class="alert-danger">
        @ViewBag.SendMessage
    </div>
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Şifremi Unuttum</h3>
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                        <li>Şifremi Unuttum</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="customer_login">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="account_form">
                    <h2>Giriş Yap</h2>
                    <form asp-controller="User" asp-action="ForgotPassword" method="post">
                        <p>
                            <label>Email Adresi<span>*</span></label>
                            <input name="email" type="text">
                        </p>
                        <p>
                            <div class="g-recaptcha" data-sitekey="6LdauNsZAAAAANaO3gJEOGC72rO8PqYAAD_o3Z_w"></div>
                        </p>
                        <div class="login_submit">
                            <center><button style="width:100%" type="submit">Şifre Sıfırlama Talebi Gönder</button></center>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

