<center>
    <div id="slider">

        <div class="sliderleft"></div>
        <div class="sliderright"></div>
        @foreach (var item in Model)
        {
            <li>
                <img class="img-responsive" src="~/img/SliderImages/@item.ImagePath" alt="">
            </li>
        }


    </div>
</center>

<div class="sliderbutton">
    @foreach (var item in Model)
    {
        <li></li>
    }
</div>
<br />
