@model AboutUsModel
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Hakkımızda</h3>
                    <ul>
                        <li><a href="index.html">Anasayda</a></li>
                        <li>Hakkımızda</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="about_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <figure>
                    <div class="about_thumb">
                        <center><iframe width="1150" height="700" src="https://www.youtube.com/embed/@Model.VideoPath" frameborder="0" allowfullscreen></iframe></center>
                    </div>
                    <figcaption class="about_content">
                        <h1>@Model.Title</h1>
                        <div style="text-align: justify;">
                            <p>@Model.Content</p>
                        </div>
                        <div class="about_signature">
                            <img src="assets\img\about\about-us-signature.png" alt="">
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
<div class="choseus_area" data-bgimg="assets/img/about/about-us-policy-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="single_chose">
                    <div class="chose_icone">
                        <img src="~/img/about/About_icon3.png" alt="">
                    </div>
                    <div class="chose_content">
                        <h3>Çiftçi Dostu</h3>
                        <p>Happy Farmer Projemiz Sayesinde Çiftçilerimiz Kendi Bölgesinde ve/veya Başka Bölgelerdeki Çiftçiler İletişim Halinde Olabiliyor.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single_chose">
                    <div class="chose_icone">
                        <img src="~/img/about/About_icon1.png" alt="">
                    </div>
                    <div class="chose_content">
                        <h3>100% Para İade Garantisi</h3>
                        <p>Çiftçilerimizin Almış ve İade Etmiş Olduğu Ürünlerde Kullanılma Durumu Olmadığı Sürece Paraları Veysel MUTLU Güvencesi İle Geri İade Edilme Garantisi Verilmektedir.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single_chose">
                    <div class="chose_icone">
                        <img src="~/img/about/About_icon2.png" alt="">
                    </div>
                    <div class="chose_content">
                        <h3>Çevrimiçi Destek 24/7</h3>
                        <p>Siz Çiftçi Kardeşlerimize Daha İyi Hizmet Verebilmek Adına Sitenin Sag Alt Kısmındaki Yardım Alanından Bizlere 7/24 Yazabilir Sorunlarınızı Dile Getirebilirsiniz.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about_gallery_section">
    <div class="container">
        <div class="about_gallery_container">
            <div class="row">
                @foreach (var item in ViewBag.Blogs)
                {
                    <div class="col-lg-4 col-md-4">
                        <article class="single_gallery_section">
                            <figure>
                                <div class="gallery_thumb">
                                    <img style="width:360px; height:240px;" src="~/img/BlogImages/@item.ImagePath" alt="">
                                </div>
                                <figcaption class="about_gallery_content">
                                    <h3>@item.Title</h3>
                                    @{
                                        var metin = item.Description;
                                        var skip = metin.Substring(0, 100);
                                    }
                                    <p>@skip <a asp-controller="Home" asp-action="GetBlogArticleDetails" asp-route-id="@item.Id">Devamını Oku</a>...</p>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="contact_map mt-70">
    <div class="map-area">
        <center><iframe src="https://www.google.com/maps/d/u/0/embed?mid=1xLOXTGHbgFmi0fntAEcIvTQvymf3TwE3" width="100%" height="400"></iframe></center>
    </div>
</div>